1.

In [5]:
import pandas as pd
belize_listings = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings)b

In [6]:
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [7]:
#group by neighbourhood
belize_groupby= belize_df.groupby('neighbourhood')

In [17]:
belize_groupby['price'].mean()

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [18]:
belize_groupby['number_of_reviews'].mean()

neighbourhood
Belize Islands          17.647736
Belize Mainland         15.147601
Cayo                    14.566337
Corozal                  7.569231
Orange Walk             14.821429
Stann Creek Islands      5.750000
Stann Creek Mainland     8.470796
Toledo Mainland          4.127660
Name: number_of_reviews, dtype: float64

In [19]:
 belize_groupby['availability_365'].mean()

neighbourhood
Belize Islands          295.970837
Belize Mainland         261.014760
Cayo                    259.249505
Corozal                 278.676923
Orange Walk             261.928571
Stann Creek Islands     248.083333
Stann Creek Mainland    277.872566
Toledo Mainland         234.744681
Name: availability_365, dtype: float64

In [28]:
means= belize_groupby[['price','number_of_reviews','availability_365']].mean()
means

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824          17.647736        295.970837
Belize Mainland        288.273063          15.147601        261.014760
Cayo                   205.847525          14.566337        259.249505
Corozal                156.553846           7.569231        278.676923
Orange Walk            122.035714          14.821429        261.928571
Stann Creek Islands   1136.166667           5.750000        248.083333
Stann Creek Mainland   456.994690           8.470796        277.872566
Toledo Mainland        222.978723           4.127660        234.744681

2.

In [29]:
og_list=[2,4,6,8,10,12]
new_list= [x**2 for x in og_list]
new_list

[4, 16, 36, 64, 100, 144]

3.

In [30]:
og_list=[2,4,6,8,10,12]
new_list= [x*2/3 for x in og_list]
new_list

[1.3333333333333333,
 2.6666666666666665,
 4.0,
 5.333333333333333,
 6.666666666666667,
 8.0]

4.

In [36]:
my_dict={"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400,
"Peaches": 13600, "Oranges": 7}
{key.lower() for key in my_dict}

{'apples', 'cherries', 'cranberries', 'oranges', 'peaches', 'pears', 'plums'}

In [ ]:
#it's a quick and efficient ways to do multiple things in one list